<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhiplOtJWiJ97SMgG0wMw8MqqQhjtGe4g</string>
	<key>GCM_SENDER_ID</key>
	<string>197502606340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busTrack.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bustrack-11a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>bustrack-11a2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197502606340:ios:e908c37d0131f842d06951</string>
</dict>
</plist>